$body-bg: #010511;

$txt-color: #fff;
$primary-color: #ed1046;
$black: #000;

$border-radius: 30px;

$header-height: 6rem;
$header-shrink-height: 4rem;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
